.env
.gemini

# image files
gallery1.jpg 
gallery2.jpg 
gallery3.jpg 
gallery4.jpg 
gallery5.jpg 
gallery6.jpg
main.jpg
image.jpg

# Personal info
guestbook.json
rsvp.json
GAI_wedding_invitation_250814_v0.01.pptx


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
